---
layout: default
---

<div id="main_content">
  {% assign posts_per_page = 10 %}
  {% assign page_title = page.title | default: site.title %}
  
  {% if paginator.page > 1 %}
    {% assign page_title = page_title | append: " - Page " | append: paginator.page %}
  {% endif %}
  
  {% for post in paginator.posts %}
    <article>
      <small>{{ post.date | date: "%B %d, %Y" }}</small>
      <div class="post-content">
        {{ post.content }}
      </div>
    </article>
  {% endfor %}
  
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="prev">&laquo; Previous</a>
      {% else %}
        <span class="prev disabled">&laquo; Previous</span>
      {% endif %}
      
      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="current">{{ page }}</span>
        {% else %}
          <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
      {% endfor %}
      
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next &raquo;</a>
      {% else %}
        <span class="next disabled">Next &raquo;</span>
      {% endif %}
    </div>
  {% endif %}
</div>
